body {
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

* {
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 20px;
    background-color: #1f2937;
}

.right-container, .left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding-bottom: 100px;
}

.left-container {
    align-items: flex-end;
}

.upper-content {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 28px;
    color: #f9faf8;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.upper-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 400px;
}

.upper-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
    margin-bottom: 10px;
    opacity: 90%;
}

.upper-button button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
}

.upper-image img {
    width: 500px;
    height: 250px;
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.images-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 50px;
}

.list-of-images {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    margin-bottom: 100px;
}

.block-text {
    opacity: 70%;
}

.image-block {
    border: solid;
    border-color: #3882f6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.third-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 115px;
}

.additional-container {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    width: 790px;
}

.author-text {
    font-weight: 600;
    font-size: 26px;
    align-self: flex-end;
}

.fourth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.blue-container {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 150px;
    border-radius: 10px;
}

.call-text-container {
    display: flex;
    flex-direction: column;
}

.call-title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.sign-up-text {
    color: #f9faf8;
    font-size: 16px;
    opacity: 90%;
}

.call-button button {
    color: #f9faf8;
    border-color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    width: 130px;
    height: 40px;
    font-weight: 900;
    font-size: 18px;
    border: solid;
    border-width: 3px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #1f2937;
}

.footer-text {
    color: #f9faf8;
    font-size: 20px;
}